//-----------------------------------------------------------------------//
// $TYPOGRAPHY
// Mixins and functions for working with typography.
//-----------------------------------------------------------------------//


//-----------------------------------------------------------------------//
// MIXINS AND FUNCTIONS
//-----------------------------------------------------------------------//

// TBD


//-----------------------------------------------------------------------//
// STYLES
//-----------------------------------------------------------------------//

a {

    text-decoration: underline;

    &:hover {

        cursor: pointer;
    }
}

h1, h2, h3, h4, h5, h6 {

    margin-top: 0;
    margin-bottom: var(--headline-bottom-margin);
    font-weight: 300;

    &[sf-tight] {

        margin-bottom: var(--headline-bottom-margin)/3;
    }

    > a {

        font-weight: 300;
    }
}

h3, h4, h5, h6 {

    font-weight: 400;
}

* + h1, * + h2, * + h3, * + h4, * + h5, * + h6 {

    margin-top: var(--headline-top-margin-stacked);

    @include sf-media($from: tablet-portrait) {
    
        margin-top: var(--headline-top-margin);
    }
}

h1 + h1, h1 + h2, h1 + h3, h1 + h4, h1 + h5, h1 + h6,
h2 + h1, h2 + h2, h2 + h3, h2 + h4, h2 + h5, h2 + h6,
h3 + h1, h3 + h2, h3 + h3, h3 + h4, h3 + h5, h3 + h6,
h4 + h1, h4 + h2, h4 + h3, h4 + h4, h4 + h5, h4 + h6,
h5 + h1, h5 + h2, h5 + h3, h5 + h4, h5 + h5, h5 + h6,
h6 + h1, h6 + h2, h6 + h3, h6 + h4, h6 + h5, h6 + h6 {

    margin-top: 0;
}

p {

    margin-top: 0;
    margin-bottom: var(--paragraph-bottom-margin);

    &[sf-tight] {

        margin-bottom: var(--paragraph-bottom-margin)/3;
    }

    &:last-child {

        margin-bottom: 0;
    }
}

blockquote {

    border-left: solid 0px sf-get-background-color(graylightest);
    border-left-width: 0.75rem;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 2.25rem;
    margin-top: 2.5rem;
    padding-left: 1.3344rem;
    padding-right: 1.3344rem;
    font-style: italic;

    @include sf-media($from: tablet-portrait) {
    
        margin-left: 3.5rem;
        margin-right: 2.5rem;
        margin-bottom: 3rem;
        margin-top: 3rem;
        padding-left: 1.5rem;
        padding-right: 4.0rem;
    }

    &:last-child {

        margin-bottom: 0;
    }

    cite {

        display: block;
        margin-top: 1.5rem;
        font-size: 85%;

        @include sf-media($from: tablet-portrait) {

            margin-top: 1.25rem;
        }
    }
}

strong {

    font-weight: 700;

    em {

        font-weight: 700;
    }
}

small {

    font-size: 0.8rem;
    line-height: 1.3rem;
}

:not(pre) {
 
    & > code, 
    & > code[class*="language-"] {

        display: inline-block;
        margin: 0;
        padding: 0.1rem 0.5rem;
        border-radius: 0.1rem;

        font-size: 0.8rem;
        font-family: var(--font-mono);

        &[feature] {

            font-size: 1rem;
        }
    }

    & > code {

        background: var(--sf-color-code);
        color: var(--sf-color-code-contrast);
    }
}

pre, pre[class*="language-"] {

    border-radius: 0;
    border-width: 0 !important;
    margin-top: 1rem;
    margin-bottom: 1.5rem;

    margin-left: calc(var(--horizontal-unit-padding) * -1);
    margin-right: calc(var(--horizontal-unit-padding) * -1);
    padding: 0;

    font-family: var(--font-mono);
    font-size: var(--mono-font-size);
    line-height: var(--mono-line-height);

    overflow: scroll;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {

        display: none;
    }

    @include sf-media($from: tablet-portrait) {

        border-radius: 0.15rem;
        margin: 0;
        margin-top: 1rem;
        margin-bottom: 1.5rem;
    }

    & > code {

        display: block;
        font-family: var(--font-mono);
        font-size: var(--mono-font-size);
        line-height: var(--mono-line-height);

        width: -webkit-max-content;
        padding: 1.5rem var(--horizontal-unit-padding);
        padding-right: calc(var(--horizontal-unit-padding) * 2);

        @include sf-media($from: tablet-portrait) {

            padding: 1rem;
        }
    }

    &:last-child {

        margin-bottom: 0;
    }
}

li, dd, dt {

    pre, pre[class*="language-"] {

        @include sf-media($upto: tablet-portrait) {

            margin-left: calc((var(--horizontal-unit-padding) * 2) * -1);
            margin-right: calc((var(--horizontal-unit-padding) * 2) * -1);
        }
    }    
}

code[class*="language-"] {

    font-family: var(--font-mono);
    text-shadow: none !important;
}

hr {

    margin: 0;
    margin-bottom: 2rem;
    height: 0.15rem;
    min-height: 0.15rem;
    border: none;
    border-color: var(--sf-color-line);
    border-bottom-width: 0.15rem;
    border-bottom-style: solid;

    @include sf-media($from: tablet-portrait) {

        height: 0.15rem;
        min-height: 0.15rem;
        border-bottom-width: 0.15rem;
    }

    &:last-child {

        margin-bottom: 0;
    }
}

[sf-nowrap] {

    white-space: nowrap;
}
