//-----------------------------------------------------------------------//
// $FORMS
// This is where you create base styles for your application. The
// goal is to create sensible defaults for your layout.
//-----------------------------------------------------------------------//


//-----------------------------------------------------------------------//
// MIXINS AND FUNCTIONS
//-----------------------------------------------------------------------//

// TBD


//-----------------------------------------------------------------------//
// STYLES
//-----------------------------------------------------------------------//

ul, ol, dl {

    li, dd, dt {

        padding-top: 0.5rem;

        &:first-child {

            padding-top: 0;
        }
    }
}

ul[sf-radios].radiobuttonlist {

    margin-bottom: 0.5rem;
}
