.carbide_container_unit {

    // SETTINGS

    --background-color: transparent; 
    --column-gutter: 5%;
    --row-gutter: 3rem;

    --navigation-column-width: 0%;
    --navigation-column-padding: 0rem;
    --navigation-column-background-color: transparent;
    --navigation-column-corner-radius: 0rem;
    --navigation-current-item-foreground-color: rgba(0, 0, 0, 0.25);
    --navigation-current-item-weight: normal;
    --navigation-link-foreground-color: var(--anchor-color);
    --navigation-item-spacing: 1rem;
    --navigation-bullet-indent: 1.5rem;
    --navigation-bullet-top: 0.2rem;
    
    --content-column-width: 100%;

    // ---------------------------

    background-color: var(--background-color);

    .navigation-column {

        width: var(--navigation-column-width);

        & > section {

            border-radius: var(--navigation-column-corner-radius);
            background-color: var(--navigation-column-background-color);
            padding: var(--navigation-column-padding);

            & > .toggle-button {

                font-size: 1.35rem;
                line-height: var(--h4-line-height);
                cursor: pointer;

                i {

                    display: inline-block;
                    width: 1.35rem;
                }
            }

            & > nav {

                overflow: hidden;

                @include sf-animate (

                    $property: max-height,
                    $delay: 0,
                    $duration: 0.25s,
                    $kind: ease
                );

                & > p {

                    font-size: 0.9rem;
                    margin-top: 0.5rem;
                    margin-bottom: 0;
                    overflow: hidden;

                    @include sf-animate (

                        $property: max-height,
                        $delay: 0,
                        $duration: 0.25s,
                        $kind: ease
                    );
                }

                div {

                    &[data-level] {

                        margin-left: var(--navigation-bullet-indent);
                        margin-top: var(--navigation-item-spacing);
                        position: relative;
                        vertical-align: top;

                        &[data-level="0"] {

                            margin-top: 0;
                        }

                        &.container {

                            margin-left: 0;
                        }

                        i {

                            position: absolute;
                            display: block;
                            width: var(--navigation-bullet-indent);
                            margin-left: calc(var(--navigation-bullet-indent) * -1);
                            margin-top: var(--navigation-bullet-top);
                        }

                        &:first-child {

                            margin-top: 0;
                        }

                        a {

                            &.current {

                                color: var(--navigation-current-item-foreground-color);
                                font-weight: var(--navigation-current-item-weight);
                                text-decoration: none;
                            }
                        }
                    }
                }

                ul {

                    margin-left: 1.25rem;
                }

                ol, ul {

                    margin-top: var(--navigation-item-spacing);

                    &[data-level="0"] {

                        margin-top: 0;
                    }

                    li {

                        padding-top: 0;
                        margin-top: var(--navigation-item-spacing);

                        &:first-of-type {

                            margin-top: 0;
                        }

                        a {

                            color: var(--navigation-link-foreground-color);
                            font-weight: normal;

                            &.current {

                                color: var(--navigation-current-item-foreground-color);
                                font-weight: var(--navigation-current-item-weight);
                                text-decoration: none;
                            }
                        }
                    }
                }

                & > [data-level].container:first-of-type {

                    margin-top: calc(var(--navigation-item-spacing) * 1.5);
                }
            }
        }
    }

    .content-column {

        width: var(--content-column-width);
    }
}
