.carbide_simple_hero_unit {

    // SETTINGS

    --content-align: center;
    --content-width: 1/2;
    --content-push: 1/4;
    --min-height: 25rem;
    --max-height: 25rem;
    --vertical-padding: 3rem;
    --headline-bottom-spacer: 1rem;
    --headline-shadow-color: rgba(0, 0, 0, 0.35);
    --content-bottom-spacer: 2rem;
    --content-shadow-color: rgba(0, 0, 0, 0.5);
    --button-bottom-spacer: 2rem;
    --nodes-display: block;
    --nodes-align: center;
    --nodes-top-spacer: 1rem;
    --nodes-shadow-color: rgba(0, 0, 0, 0.25);

    --background-brightness: 100%;
    --background-saturation: 100%;

    --button-background-color: var(--sf-color-buttons);
    --button-foreground-color: var(--sf-color-buttons-contrast);

    // ---------------------------

    position: relative;
    /*background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;*/
    overflow: hidden;
    min-height: var(--min-height);
    max-height: var(--max-height);
    padding-bottom: 0;

    .background-image {

        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        filter: brightness(var(--background-brightness)) saturate(var(--background-saturation));
        -webkit-filter: brightness(var(--background-brightness)) saturate(var(--background-saturation));
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: cover;

        @include sf-animate (
            $property: opacity,
            $delay: 1s,
            $duration: 1s,
            $kind: linear
        );
    }

    .inner-gridcell {

        width: calc((var(--content-width)) * 100%);
        left: calc((var(--content-push)) * 100%);
    }

    [sf-outer-wrapper] {

        & > [sf-inner-wrapper] {

            padding: 0;
        }
    }

    #hero-content {

        min-height: var(--min-height);
        padding-top: var(--vertical-padding);
        padding-bottom: var(--vertical-padding);
        text-align: var(--content-align);

        [role="presentation"] {

            width: 100%;
        }

        .frame {

            transition-property: opacity;
            animation-delay: 0;
            transition-timing-function: ease;

            position: relative;
            height: 0;
            overflow: hidden;
            opacity: 0;

            &.current {

                height: auto;
                opacity: 1.0;
            }

            h1 {

                margin-bottom: var(--headline-bottom-spacer);
                text-shadow: 0 0 0.5rem var(--headline-shadow-color);

                &, * {

                    color: var(--foreground-color);
                }
            }

            .excerpt-row {

                margin-bottom: var(--content-bottom-spacer);

                p {

                    color: var(--foreground-color);
                    margin-bottom: 2rem;
                    text-shadow: 0 0 0.75rem var(--content-shadow-color);

                    &:last-child {

                        margin-bottom: 0;
                    }
                }
            }

            .button-row {

                margin-bottom: var(--button-bottom-spacer);

                a[role="button"] {

                    background-color: var(--button-background-color);
                    border-color: var(--button-background-color);
                    color: var(--button-foreground-color);
                }
            }
        }

        .nodes {

            display: var(--nodes-display);
            font-size: 0;
            line-height: 1;
            text-align: var(--nodes-align);
            vertical-align: middle;
            margin-top: var(--nodes-top-spacer);

            a {

                color: var(--foreground-color);
                display: inline-block;
                margin-right: 1rem;
                text-shadow: 0 0 0.75rem var(--nodes-shadow-color);

                &:last-of-type {

                    margin-right: 0;
                }

                i {

                    font-size: 0.75rem;
                }
            }

            span {

                display: inline-block;
                font-size: 0.75rem;
                vertical-align: baseline;
                color: var(--foreground-color);
                opacity: 0.5;
                text-shadow: 0 0 0.75rem var(--nodes-shadow-color);

                margin-left: 1rem;
            }
        }
    }
}
