@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using System.Text.RegularExpressions
@using Fynydd.Carbide
@using Carbide.Web.Helpers
@{ 
    var youTubeCode = Model.MacroParameters["youTubeCode"].ToString().GetYouTubeVideoId();
}
@if (youTubeCode.HasValue() && youTubeCode.Length < 15)
{
<style type="text/css">
    body#tinymce .sf-video-wrapper > [role="video"] {

        display: block;
        max-width: 50%;
    }
    body#tinymce .sf-video-wrapper > small {

        display: block;
        margin-top: 0.75rem;
    }
</style>
<div class="sf-video-wrapper p">
    <div role="video">
        <iframe src="//www.youtube.com/embed/@(youTubeCode)?rel=0&autohide=2&modestbranding=1&theme=light&color=white" frameborder="0" allowfullscreen></iframe>
    </div>
    @if (Model.MacroParameters["caption"].ToString() != "")
    {
    <small>@Html.Raw(HttpUtility.HtmlDecode(Model.MacroParameters["caption"].ToString()))</small>
    }
</div>
}
