@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using Carbide.Web.Helpers
<style type="text/css">
    body#tinymce .sf-video-wrapper > [role="video"] {

        display: block;
        max-width: 50%;
    }
    body#tinymce .sf-video-wrapper > small {

        display: block;
        margin-top: 0.75rem;
    }
</style>
<div class="sf-video-wrapper p">
    <div role="video">
        <iframe src="https://www.youtube.com/embed/@(Model.MacroParameters["youTubeCode"].ToString())?rel=0&amp;autohide=2&amp;modestbranding=1&amp;theme=light&amp;color=white" frameborder="0" allowfullscreen></iframe>
    </div>
    <small>This is a responsive video caption.</small>
</div>
