@inherits Umbraco.Web.Mvc.UmbracoViewPage<IPublishedElement>
@using System
@using System.Security.Cryptography
@using Umbraco.Web
@using Fynydd.Carbide
@using Carbide.Web.Helpers

@{
    object _instanceId;
    Html.ViewData.TryGetValue("instanceId", out _instanceId);
    var instanceId = _instanceId == null ? "form-subunit" : _instanceId.ToString();
    var selector = "[sf-subunit].carbide_form_subunit#" + instanceId;

    Html.ViewData.Add(new KeyValuePair<string, object>("cssSelector", selector));
    Html.RenderPartial("_Partial_CSS_Custom_Properties", Model, Html.ViewData);
}
<div id="@(instanceId)" class="carbide_form_subunit" sf-subunit>

    @Umbraco.RenderMacro("renderUmbracoForm", new { FormGuid = Model.Value("form"), FormTheme = "Carbide", ExcludeScripts = "0" })

</div>
