@inherits Umbraco.Web.Mvc.UmbracoViewPage<IPublishedElement>
@using ContentModels = Umbraco.Web.PublishedModels
@using System.Xml
@using System.Xml.Linq
@using Umbraco.Core
@using Umbraco.Core.IO
@using Umbraco.Core.Models.Packaging
@using Umbraco.Core.Services

@using Carbide.Web.Helpers
@using Fynydd.Carbide

@{
    var umbCtx = DependencyResolver.Current.GetService<IUmbracoContextFactory>().EnsureUmbracoContext().UmbracoContext;

    object _instanceId;
    Html.ViewData.TryGetValue("instanceId", out _instanceId);
    var instanceId = _instanceId == null ? "container-unit" : _instanceId.ToString();

    Html.ViewData.Add(new KeyValuePair<string, object>("cssSelector", ".carbide_container_unit#" + instanceId));
    Html.RenderPartial("_Partial_CSS_Custom_Properties", Model, Html.ViewData);
    Html.ViewData.Clear();
}
@if (Model.HasProperty("contentUnits") && Model.HasValue("contentUnits"))
{
<section id="@(instanceId)" class="carbide_container_unit" sf-unit>
    <div sf-outer-wrapper>
        <div sf-inner-wrapper>
    @{
        foreach (var content in Model.SafeNestedValues("contentUnits"))
        {
            if (content.HasProperty("enabled") && content.SafeValue<bool>("enabled"))
            {
                Html.ViewData.Add(new KeyValuePair<string, object>("instanceId", content.SafeValue("unitName").AsCssSelector()));

                if (content.ContentType.Alias == "richContentSubunit")
                {
                    Html.RenderPartial("_Partial_Rich_Content_Subunit", content, Html.ViewData);
                }

                Html.ViewData.Clear();
            }
        }
    }
        </div>
    </div>
</section>
}
