<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings xdt:Transform="Replace">
    <add name="umbracoDbDSN"
         connectionString="server=GRANITE;database=bolide;user id=fynydd-web;password=vRCC$Eb8yYNy" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <compilation debug="false" xdt:Transform="SetAttributes(debug)" />
    <customErrors mode="RemoteOnly" xdt:Transform="SetAttributes(mode)" />
  </system.web>

</configuration>