//------------------------------------//
//  $CONFIG-COLORS
//------------------------------------//

@mixin sf-generate-css-color-property($name: "default", $hex-color: #ffffff, $hex-contrast-color: #000000, $alpha: 1.0, $shade-pct: 15%, $tint-pct: 20%) {

    --sf-color-#{$name}: #{rgba($hex-color, $alpha)};
    --sf-color-#{$name}-contrast: #{rgba($hex-contrast-color, $alpha)};
    --sf-color-#{$name}-shade: #{rgba(scale-color($hex-color, $lightness: $shade-pct * -1), $alpha)};
    --sf-color-#{$name}-tint: #{rgba(scale-color($hex-color, $lightness: $tint-pct), $alpha)};
}

// COLOR SETS
// Collections of colors with defined contrast, tint, and shade variations
// to help with using them as foreground and background colors.
//
:root {

    // PRIMARY
    @include sf-generate-css-color-property(
        $name: "primary", 
        $hex-color: #3880ff, 
        $hex-contrast-color: #ffffff, 
        $alpha: 1.0, 
        $shade-pct: 15%, 
        $tint-pct: 20%);

    // SECONDARY
    @include sf-generate-css-color-property(
        $name: "secondary", 
        $hex-color: #0cd1e8, 
        $hex-contrast-color: #ffffff, 
        $alpha: 1.0, 
        $shade-pct: 15%, 
        $tint-pct: 20%);

    // TERTIARY
    @include sf-generate-css-color-property(
        $name: "tertiary", 
        $hex-color: #7044ff, 
        $hex-contrast-color: #ffffff, 
        $alpha: 1.0, 
        $shade-pct: 15%, 
        $tint-pct: 20%);

    // BUTTONS
    @include sf-generate-css-color-property(
        $name: "buttons", 
        $hex-color: #14a219, 
        $hex-contrast-color: #ffffff, 
        $alpha: 1.0, 
        $shade-pct: 15%, 
        $tint-pct: 20%);

    // SUCCESS
    @include sf-generate-css-color-property(
        $name: "success", 
        $hex-color: #14a219, 
        $hex-contrast-color: #ffffff, 
        $alpha: 1.0, 
        $shade-pct: 15%, 
        $tint-pct: 20%);

    // WARNING
    @include sf-generate-css-color-property(
        $name: "warning", 
        $hex-color: #ffce00, 
        $hex-contrast-color: #ffffff, 
        $alpha: 1.0, 
        $shade-pct: 15%, 
        $tint-pct: 20%);

    // DANGER
    @include sf-generate-css-color-property(
        $name: "danger", 
        $hex-color: #f04141, 
        $hex-contrast-color: #ffffff, 
        $alpha: 1.0, 
        $shade-pct: 15%, 
        $tint-pct: 20%);

    // LIGHT
    @include sf-generate-css-color-property(
        $name: "light", 
        $hex-color: #f4f5f8, 
        $hex-contrast-color: #ffffff, 
        $alpha: 1.0, 
        $shade-pct: 15%, 
        $tint-pct: 20%);

    // MEDIUM
    @include sf-generate-css-color-property(
        $name: "medium", 
        $hex-color: #989aa2, 
        $hex-contrast-color: #ffffff, 
        $alpha: 1.0, 
        $shade-pct: 15%, 
        $tint-pct: 20%);

    // DARK
    @include sf-generate-css-color-property(
        $name: "dark", 
        $hex-color: #222428, 
        $hex-contrast-color: #ffffff, 
        $alpha: 1.0, 
        $shade-pct: 15%, 
        $tint-pct: 20%);

    // CODE
    @include sf-generate-css-color-property(
        $name: "code", 
        $hex-color: #2d2d2d, 
        $hex-contrast-color: #ffffff, 
        $alpha: 1.0, 
        $shade-pct: 15%, 
        $tint-pct: 20%);
        
    // Form field color assignments
    --sf-disabled-field-bg-color: var(--sf-color-light);
    --sf-color-form-field-line: rgba(0, 0, 0, 0.35);
    --sf-color-check-background: rgba(255, 255, 255, 0.05);

    // General line color
    --sf-color-line: rgba(0, 0, 0, 0.15);
}
