.bolide_simple_hero {

    // SETTINGS

    --text-align: center;
    --content-width: 1/2;
    --content-push: 1/4;
    --min-height: 25rem;
    --max-height: 25rem;
    --vertical-padding: 3rem;

    --headline-bottom-spacer: 1rem;
    --headline-shadow-color: rgba(0, 0, 0, 0.35);

    --content-bottom-spacer: 2rem;
    --content-shadow-color: rgba(0, 0, 0, 0.5);

    --button-bottom-spacer: 2rem;

    --nodes-display: block; 
    --nodes-align: center;
    --nodes-top-spacer: 1rem;
    --nodes-shadow-color: rgba(0, 0, 0, 0.25);

    --dimmer-width: 100%;
    --dimmer-height: 100%;
    --dimmer-angle: 90deg;
    --dimmer-fade-color-start: rgba(0,0,0,0);
    --dimmer-fade-position-start: 35%;
    --dimmer-fade-color-middle: rgba(0,0,0,0);
    --dimmer-fade-position-middle: 50%;
    --dimmer-fade-color-end: rgba(0,0,0,0);
    --dimmer-fade-position-end: 65%;

    // ---------------------------

    position: relative;
    transition: background 0.5s linear;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;

    overflow: hidden;
    min-height: var(--min-height);
    max-height: var(--max-height);
    padding-bottom: 0;

    #dimmer {

        position: absolute;
        left: 0;
        top: 0;
        width: var(--dimmer-width);
        height: var(--dimmer-height);

        background-color: transparent;
        background: linear-gradient(var(--dimmer-angle), rgba(0, 0, 0, 0) 0%, var(--dimmer-fade-color-start) var(--dimmer-fade-position-start), var(--dimmer-fade-color-middle) var(--dimmer-fade-position-middle), var(--dimmer-fade-color-end) var(--dimmer-fade-position-end), rgba(0, 0, 0, 0) 100%);
    }

    .inner-gridcell {

        width: calc((var(--content-width)) * 100%);
        left: calc((var(--content-push)) * 100%);
    }

    [sf-outer-wrapper] {

        & > [sf-inner-wrapper] {

            padding: 0;
        }
    }

    #hero-content {

        min-height: var(--min-height);
        padding-top: var(--vertical-padding);
        padding-bottom: var(--vertical-padding);

        text-align: var(--text-align);

        [role="presentation"] {

            width: 100%;
        }

        .frame {

            @include sf-animate ( $property: opacity, $delay: 1s, $duration: 2s, $kind: ease );
            position: relative;
            height: 0;
            overflow: hidden;
            opacity: 0;

            &.current {

                height: auto;
                opacity: 1.0;
            }

            h1 {

                margin-bottom: var(--headline-bottom-spacer);
                line-height: 1.25;
                text-shadow: 0 0 0.5rem var(--headline-shadow-color);

                &, * {

                    color: white;
                    font-weight: bold;
                    text-transform: uppercase;
                    font-size: 1.5rem;

                    @include sf-media($from: tablet-portrait) {

                        font-size: 1.7rem;
                    }

                    @include sf-media($from: elastic) {

                        font-size: 1.7rem;
                    }
                }
            }

            .excerpt-row {

                margin-bottom: var(--content-bottom-spacer);

                p {

                    color: white;
                    margin-bottom: 2rem;
                    text-shadow: 0 0 0.75rem var(--content-shadow-color);

                    &:last-child {

                        margin-bottom: 0;
                    }
                }
            }

            .button-row {

                margin-bottom: var(--button-bottom-spacer);

                a[role="button"] {

                    background-color: sf-get-background-color(homebutton);
                    color: sf-get-foreground-color(homebutton);
                    line-height: 3rem;
                    padding: 0 2rem;
                }
            }
        }

        .nodes {

            display: var(--nodes-display);
            font-size: 0;
            line-height: 1;
            text-align: var(--nodes-align);
            vertical-align: middle;

            margin-top: var(--nodes-top-spacer);

            a {

                color: white;
                display: inline-block;
                margin-right: 1rem;
                text-shadow: 0 0 0.75rem var(--nodes-shadow-color);

                i {

                    font-size: 0.75rem;
                }
            }

            span {

                display: inline-block;
                font-size: 0.75rem;
                vertical-align: baseline;
                color: rgba(255, 255, 255, 0.5);
                text-shadow: 0 0 0.75rem var(--nodes-shadow-color);
            }
        }
    }
}
