<div ng-controller="My.ListView.Layout.NestedListLayoutController as vm"
     ng-if="items"
     class="umb-table ng-scope">
    <div class="umb-table-head">
        <div class="carbide-nl-row">
            <div class="carbide-nl-cell carbide-nl-cell--disclosure">
            </div>
            <div class="carbide-nl-cell carbide-nl-cell--icon">
            </div>
            <div class="carbide-nl-cell carbide-nl-cell--name">
                <div>
                    <localize key="general_name" class="ng-isolate-scope">Name</localize>
                </div>
            </div>
            <div class="carbide-nl-cell carbide-nl-cell--tags">
                <div>
                    Tags
                </div>
            </div>
            <div class="carbide-nl-cell carbide-nl-cell--date">
                <div>
                    Last Edited
                </div>
            </div>
            <div class="carbide-nl-cell carbide-nl-cell--status">
                <div>
                    Status
                </div>
            </div>
        </div>
    </div>
    <div class="umb-table-body">
        <div
            class="carbide-nl-row ng-scope" ng-class="{'carbide-nl-row--selected':item.selected}"
            ng-repeat="item in items"
            ng-clickxxx="vm.selectItem(item, $event, $index)">
            <div class="carbide-nl-cell carbide-nl-cell--disclosure">
                <a class="" href="" ng-click="vm.expandChildren(item, $event)" ng-show="item.hasChildren">
                    <ins data-element="tree-item-expand" ng-class="{'icon-navigation-right': !item.expanded, 'icon-navigation-down': item.expanded }" ng-click="" class="icon-navigation-right" style="visibility: visible;"></ins>
                </a>
            </div>
            <div class="carbide-nl-cell carbide-nl-cell--icon">
                <div>
                    <i class="umb-table-body__icon umb-table-body__fileicon icon-umb-content color-black" ng-class="vm.getIcon(item)"></i>
                    <i class="umb-table-body__icon umb-table-body__checkicon icon-check"></i>
                </div>
            </div>
            <div class="carbide-nl-cell carbide-nl-cell--name">
                <a title="{{ item.name }}" class="umb-table-body__link ng-binding" href="" ng-click="vm.clickItem(item, $event)" ng-bind="item.name">{{ item.name }}</a>
            </div>
            <div class="carbide-nl-cell carbide-nl-cell--tags"><span ng-bind="item.tags">{{ item.tags }}</span></div>
            <div class="carbide-nl-cell carbide-nl-cell--date"><span ng-bind="item.updateDate">{{ item.updateDate }}</span></div>
            <div class="carbide-nl-cell carbide-nl-cell--status"><span ng-bind="item.state">{{ item.state }}</span></div>
            <div class="break-column"></div>
            <div class="carbide-nl-cell" ng-show="item.hasChildren">
                <div ng-show="item.expanded" class="carbide-full-width" ng-repeat="child in item.children.items">
                    <div class="carbide-full-width carbide-nl-children">
                        <i class="umb-table-body__icon umb-table-body__fileicon icon-umb-content color-black" ng-class="child.icon"></i>
                        <a class="umb-table-body__link ng-binding" href="" ng-click="vm.clickSubitem(child, $event)" ng-bind="child.name">{{ child.name }}</a>
                    </div>
                    <div class="carbide-full-width" ng-show="child.hasChildren" ng-repeat="grandchild in child.children.items">
                        <div class="carbide-full-width carbide-nl-grandchildren">
                            <i class="umb-table-body__icon umb-table-body__fileicon icon-umb-content color-black" ng-class="grandchild.icon"></i>
                            <a class="umb-table-body__link ng-binding" href="" ng-click="vm.clickSubitem(grandchild, $event)" ng-bind="grandchild.name">{{ grandchild.name }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
