/* Layout CSS */

.carbide-nl-row {

    display: flex;
    flex-wrap: wrap;
    position: relative;

    border-top: 1px solid #e9e9eb;
}

.carbide-nl-row--selected:before {

    content: "";
    position: absolute;
    z-index: 1;
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
    border: 2px solid #f5c1bc;
    box-shadow: 0 0 2px 0 rgba(245,193,188,.8);
    pointer-events: none;
}

.carbide-nl-row .carbide-nl-cell {

    flex-grow: 1;
    position: relative;
    margin: 0;
    padding: 0;
    text-align: left;
    overflow: hidden;
    width: 15%;
    font-size: 14px;
    line-height: 20px;
}

.carbide-nl-row .carbide-nl-cell > * {

    display: inline-block;
    padding: 14px 14px;
}

.carbide-nl-cell.carbide-nl-cell--disclosure {

    width: 25px;
    font-size: 14px;
    flex-grow: 0;
}

.carbide-nl-cell.carbide-nl-cell--disclosure > * {

    padding-right: 0;
}

.carbide-nl-cell.carbide-nl-cell--icon {

    width: 32px;
    font-size: 20px;
    flex-grow: 0;
}

.carbide-nl-cell.carbide-nl-cell--icon > * {

    padding-right: 0;
    padding-left: 12px;
}

.carbide-nl-cell.carbide-nl-cell--name {

    width: calc(35% - 32px - 25px);
    font-weight: bold;
}

.carbide-nl-cell.carbide-nl-cell--tags {

    width: 20%;
}

.carbide-nl-cell.carbide-nl-cell--date {

    width: 15%;
}

.carbide-nl-cell.carbide-nl-cell--status {

    width: 10%;
}

.break-column + .carbide-nl-cell > * {

    padding-top: 0;
}

.break-column {

    flex-basis: 100%;
    height: 0;
}

.carbide-full-width {

    display: block;
    width: 100%;
}

.carbide-nl-children {

    font-size: 14px;
    line-height: 20px;
    padding-left: 53px;
}

.carbide-nl-children i, .carbide-nl-children a {

    vertical-align: text-top;
}

.carbide-nl-grandchildren {

    font-size: 14px;
    line-height: 20px;
    padding-left: 76px;
    padding-top: 14px;
}

.carbide-nl-grandchildren i, .carbide-nl-grandchildren a {

    vertical-align: text-top;
}
