.bolide_basic_theme {

    // SETTINGS

    --primary-navigation-background-color: var(--sf-color-primary);
    --primary-navigation-foreground-color: var(--sf-color-primary-contrast);
    --primary-navigation-logo-max-width: 10rem;
    --primary-navigation-logo-max-height: 3rem;
    --primary-navigation-current-opacity: 0.5;
    --primary-navigation-item-gutter: 3rem;

    // ---------------------------

    &#primary-navigation {

        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 997;

        background-color: var(--primary-navigation-background-color);

        nav[role="main"] {

            [role="gridcell"] {

                a {

                    display: inline-block;
                    text-decoration: none;
                    cursor: pointer;

                    &, &:hover, &:active, &:visited {

                        color: var(--primary-navigation-foreground-color);
                    }

                    &:hover {

                        text-decoration: underline;
                    }

                    &.current {

                        opacity: var(--primary-navigation-current-opacity);
                    }
                }

                &:first-of-type {

                    section {

                        justify-content: flex-start;

                        a {

                            max-width: var(--primary-navigation-logo-max-width);
                        }
                    }
                }

                &:not(:first-of-type) {

                    section {

                        justify-content: flex-end;

                        a {

                            margin-left: var(--primary-navigation-item-gutter);

                            img {

                                max-width: 2rem;
                            }
                        }
                    }
                }
            }
        }
    }

    .dim-overlay {

        @include sf-animate (

            $property: opacity,
            $delay: 0,
            $duration: 0.5s,
            $kind: ease
        );

        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 9998;
        cursor: pointer;

        background-color: rgba(0, 0, 0, 0.65);
        opacity: 1;

        &.closed {

            background-color: rgba(0, 0, 0, 0);
            width: 0;
            height: 0;
            opacity: 0;
        }
    }

    #primary-navigation-mobile {

        @include sf-animate (

            $property: right,
            $delay: 0,
            $duration: 0.25s,
            $kind: ease
        );

        position: fixed;
        top: 0;
        right: 0;
        width: 80vw;
        height: 100vh;
        z-index: 9999;
        padding: 2.25rem;
        overflow-y: scroll;

        background-color: var(--primary-navigation-background-color);
        
        &.closed {

            right: -80vw;
        }

        a {

            display: block;
            text-decoration: none;
            cursor: pointer;
            margin-bottom: 1rem;

            &:last-of-type {

                margin-bottom: 2rem;
            }

            &, &:hover, &:active, &:visited {

                color: var(--primary-navigation-foreground-color);
            }

            &:hover {

                text-decoration: underline;
            }

            &.current {

                opacity: var(--primary-navigation-current-opacity);
            }

            img {

                max-width: 75%;
            }
        }
    }
}
