.bolide_rich_content {

    // SETTINGS

    --content-width: 100%;
    --background-color: transparent; 

    --headline-align: left;
    --headline-margin: 2rem;
    --content-align: left;

    --column-gutter: 3%;
    --row-gutter: 2rem;

    --button-width: auto;
    --button-align: left;
    --button-background-color: var(--sf-color-buttons);
    --button-foreground-color: var(--sf-color-buttons-contrast);

    // ---------------------------

    position: relative;
    width: var(--content-width);
    margin: 0 auto;
    text-align: var(--content-align);

    h1, h2, h3, h4, h5, h6 {

        text-align: var(--headline-align);
        margin-bottom: var(--headline-margin);
    }

    .button-row {

        text-align: var(--button-align);

        a[role="button"] {

            background-color: var(--button-background-color);
            border-color: var(--button-background-color);
            color: var(--button-foreground-color);
            width: var(--button-width);
        }
    }
}
