.bolide_basic_theme {

    &#primary-navigation {

        // SETTINGS

        --primary-navigation-background-color: var(--sf-color-primary);
        --primary-navigation-foreground-color: var(--sf-color-primary-contrast);
        --primary-navigation-logo-max-width: 10rem;
        --primary-navigation-logo-max-height: 3rem;
        --primary-navigation-current-opacity: 0.5;

        // ---------------------------

        background-color: var(--primary-navigation-background-color);

        nav[role="main"] {

            [role="gridcell"] {

                a {

                    display: inline-block;
                    text-decoration: none;

                    &, &:hover, &:active, &:visited {

                        color: var(--primary-navigation-foreground-color);
                    }

                    &:hover {

                        text-decoration: underline;
                    }

                    &.current {

                        opacity: var(--primary-navigation-current-opacity);
                    }
                }

                &:first-of-type {

                    text-align: left;

                    a {

                        max-width: var(--primary-navigation-logo-max-width);
                    }
                }

                &:not(:first-of-type) {

                    section {

                        justify-content: flex-end;

                        a {

                            margin-left: 3rem;
                        }
                    }
                }
            }
        }
    }
}
