.carbide_simple_hero {

    // SETTINGS

    --text-align: center;
    --content-width: 1/2;
    --content-push: 1/4;

    // ---------------------------

    position: relative;
    transition: background 0.5s linear;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;

    min-height: 20rem;
    padding-bottom: 0;

    @include sf-media($from: tablet-portrait) {

        min-height: 24rem;
    }

    #full-dimmer, #dimmer {

        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;

        @include sf-media($from: tablet-portrait) {

            width: 75%;
            height: 100%;
        }
    }

    #dimmer {

        background-color: rgba(0,0,0,0.5);

        @include sf-media($from: tablet-portrait) {

            background-color: transparent;
            background: linear-gradient(90deg, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.45) 75%, rgba(0,212,255,0) 100%);
        }
    }

    #full-dimmer {

        background-color: rgba(0,0,0,0.5);
        height: 100%;

        @include sf-media($from: tablet-portrait) {

            width: 100%;
        }
    }

    .outer-gridcell {

        width: calc((var(--content-width)) * 100%);
        left: calc((var(--content-push)) * 100%);
    }

    [sf-outer-wrapper] {

        & > [sf-inner-wrapper] {

            padding-top: 0;
        }
    }

    #hero-content {

        min-height: 20rem;
        padding-top: 0rem;

        text-align: var(--text-align);

        @include sf-media($from: tablet-portrait) {

            min-height: 24rem;
            padding-top: 0rem;
        }

        [role="presentation"] {

            width: 100%;
        }

        .frame {

            @include sf-animate ( $property: opacity, $delay: 1s, $duration: 2s, $kind: ease );
            position: relative;
            height: 0;
            overflow: hidden;
            opacity: 0;

            &.current {

                height: auto;
                opacity: 1.0;
            }

            h1 {

                margin-bottom: 1rem;

                &, * {

                    color: white;
                    font-weight: bold;
                    text-transform: uppercase;
                    font-size: 1.5rem;

                    @include sf-media($from: tablet-portrait) {

                        font-size: 1.7rem;
                    }

                    @include sf-media($from: elastic) {

                        font-size: 1.7rem;
                    }
                }
            }

            p {

                color: white;
                margin-bottom: 2rem;
            }

            a[role="button"] {

                background-color: sf-get-background-color(homebutton);
                color: sf-get-foreground-color(homebutton);
                line-height: 3rem;
                padding: 0 2rem;
            }
        }

        .nodes {

            padding-top: 2rem;
            font-size: 0;
            line-height: 1;
            text-align: var(--text-align);
            vertical-align: middle;

            a {

                color: white;
                display: inline-block;
                margin-right: 1rem;

                i {

                    font-size: 0.75rem;
                }
            }

            span {

                display: inline-block;
                font-size: 0.75rem;
                vertical-align: baseline;
                color: rgba(255, 255, 255, 0.5);
            }
        }
    }
}

#carbide-simple-hero {

    --text-align: center;
    --content-width: 1/1;
    --content-push: 0;

    @include sf-media($from: tablet-portrait) {

        --text-align: center;
        --content-width: 1/3;
        --content-push: 1/3;
    }
}

