.umb-table-cell.umb-table__name {

    flex: 1 1 50%;
    max-width: 50%;
}

.sf-image-wrapper > img {

    display: block;
    max-width: 100%;
}

.sf-image-wrapper > small {

    display: block;
    margin-top: 0.75rem;
}
