//-----------------------------------------------------------------------//
// $BUTTONS
// These are the base styles for buttons.
//-----------------------------------------------------------------------//


//-----------------------------------------------------------------------//
// MIXINS AND FUNCTIONS
//-----------------------------------------------------------------------//

// TBD


//-----------------------------------------------------------------------//
// STYLES
//-----------------------------------------------------------------------//

button, input[type="button"], input[type="submit"], input[type="cancel"], a[role="button"] {

    display: inline-block;
    top: -1px;
    margin: 0;
    border: 0;
    padding: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    white-space: nowrap;
    background-color: var(--sf-color-buttons);
    color: var(--sf-color-buttons-contrast);
    border-radius: 0.15rem;
    cursor: pointer;
    font-size: 1rem;
    line-height: 3;
    font-weight: 500;
    vertical-align: middle;
    width: 100%;

    border: solid var(--sf-line-width) var(--sf-color-buttons);

    @include sf-media($from: tablet-portrait) {

        width: auto;
        line-height: 2.5;
    }

    &:hover,
    &:focus {

        text-decoration: none;
    }

    &[disabled] {

        cursor: not-allowed;
        opacity: .65;
    }
}
